modules = ["nodejs-20", "web"]
[nix]
channel = "stable-25_05"
packages = ["unzip"]

[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 33927
externalPort = 3001

[[ports]]
localPort = 39003
externalPort = 4200

[[ports]]
localPort = 39419
externalPort = 8081

[[ports]]
localPort = 39945
externalPort = 6800

[[ports]]
localPort = 40065
externalPort = 8008

[[ports]]
localPort = 41141
externalPort = 8080

[[ports]]
localPort = 41559
externalPort = 3000

[[ports]]
localPort = 42731
externalPort = 3003

[[ports]]
localPort = 42799
externalPort = 8099

[[ports]]
localPort = 43027
externalPort = 9000

[[ports]]
localPort = 43157
externalPort = 3002

[[ports]]
localPort = 43837
externalPort = 6000

[[ports]]
localPort = 44959
externalPort = 5173

[[ports]]
localPort = 45121
externalPort = 5000

[[ports]]
localPort = 46133
externalPort = 8000

[userenv]

[userenv.shared]
VITE_SUPABASE_URL = "https://igkujtqflvocbpsvpqle.supabase.co/"
VITE_SUPABASE_ANON_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imlna3VqdHFmbHZvY2Jwc3ZwcWxlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjQ5Nzg2NTAsImV4cCI6MjA4MDU1NDY1MH0.BQC1an2v_QM_VL5bfGEYuqROeH0N9-5hHVJijqudqPM"
SUPABASE_URL = "https://igkujtqflvocbpsvpqle.supabase.co"
SUPABASE_SERVICE_ROLE_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imlna3VqdHFmbHZvY2Jwc3ZwcWxlIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NDk3ODY1MCwiZXhwIjoyMDgwNTU0NjUwfQ.s8RzAdgWNZ7W8d1akIVKQ62FTW_3nNAmeVGRQkI_8BM"

[deployment]
deploymentTarget = "autoscale"
run = ["npm", "run", "start"]
build = ["npm", "run", "build"]
